extends layout

block content
  div.row.mb-3
    div.col
      h1 Обработка CSV файла
      form.form(action="/csv/config/create" method="POST")
        button.btn.btn-primary(type="sybmit") Создать
  div.row.mb-3
    div.col
      div.card
        div.card-body
          h4 Информация о файле
          
          p= info.message
          p
            ul
              each header in info.headers
                li=header.name
  div.row
    div.col      
      div.table-responsive
        table.table.table-bordered.table-hover.table-sm.table-dark
          tr
            each item, index in data[0]
              th= index
            
          each item in data
            tr
              each sub in item
                td(style='min-width:150px;S')=sub
