doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript' src ='/javascripts/bootstrap.bundle.js' )
    script(type='text/javascript' src ='/javascripts/bootstrap.js' )
  body
  div.container
    block content
