extends layout

block content
  h1 Тест CSV
  div.table-responsive
    table.table.table-bordered.table-hover.table-sm.table-dark
      tr
        each item, index in data[0]
          th= index
        
      each item in data
        tr
          each sub in item
            td(style='min-width:150px;')=sub
